<div id="header">
    <%= render "shared/merchant_header" %>
</div>

<h2>Discount #<%= @discount.id %></h2>

 <p> discount precentage: %<%= @discount.precentage %></p>
 <p> quantity threshold: <%= @discount.quantity %></p>


<%= link_to "Update Discount", edit_merchant_discount_path(@merchant, @discount) %>
